/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  border: 0.5px solid red;
}

body {
  width: 1920px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7581a1;
  line-height: 26px;
  margin: 0 auto;
}

.container {
  width: 1110px;
  /*display: block;*/
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  color: #192b59;
  line-height: 90px;
}

.nav {
  font-size: 12px;
  font-weight: 700;
  color: #6e7ea9;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display:flex;
}

.nav li {
  display: flex;
}

.nav a {
  color: #6e7ea9;
}

.header-nav {
  display:flex;
  justify-content: space-between;
}

.btn {
  padding: 20px 45px;
  border-radius: 40px
}

.btn-free {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background-color: #1085e4;
  padding: 20px 45px;
}

.btn-blue {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1085e4;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-gray {
  font-size: 12px;
  font-weight: 700;
  color: #7e8bae;
  background-color: #cbdbe8;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-header {
  padding-top: 50px;
  padding-bottom: 90px;
  background-image: url(../img/header-section-bg.png);
}

.header-text-block {
  width: 540px;
  text-align: left;
  padding: 215px 0px;
  margin-right: 95px;
}

.block-text-pic { 
  
}

.page-company {
  background-color: #1085e4;
  background-image:url(../img/section-logo-bg.png);
  padding: 95px 0;
}

.grid h2 {
  font-size: 40px;
  font-weight: 700;
  color: #192b59;
}

.grid h2 span {
  font-size: 14px;
  font-weight: 800;
  color: #1085e4; 
  text-transform: uppercase;
  display: block; 
}

.grid-item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #192b59;
}

.grid-item p {
  font-size: 16px;
  font-weight: 600;
  color: #7581a1;
}

.grid-item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}

.page-subscribe {
  background-image: url(/img/subscribe-bg.png)
}

.page-subscribe h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  line-height: 26px;
}

.page-subscribe h2 span {
  font-size: 14px;
  font-weight: 700;
  color: #00bffe;
  text-transform: uppercase;
  line-height: 26px;
  display: block
}

.page-subscribe p {
  font-size: 18px;
  color: #dfe8ff;
  line-height: 28px;
}

.page-h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #192b59;
}


.page-software dt {
  font-weight: 700;
  line-height: 26px;
  color: #5a6789;
}

.page-stat {
  text-align: center;
  background-image: url(../img/funfacts-bg.png);
}

.page-stat h2 span {
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  color: #1085e4;
  text-transform: uppercase;
  display: block;
}

.page-app p span{
  color: #c4d2dd;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 5px;
}
 
.page-screen {
  background-color: #edf6ff;
  text-align: center;
}

.page-screen h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #192b59;
}

.page-screen h2 span {
  font-size: 18px;
  font-weight: 700;
  line-height: 90px;
  color: #1085e4;
  text-transform: uppercase;
  display: block;
}
